{{outlet}}

<p>Email: {{account.email}}</p>

<p>ID: {{account.id}}</p>

<p>UID: {{account.uid}}</p>

<p>Date Created: {{moment-format account.createdAt "MMMM Do YYYY h:mm a" }}</p>

<p>Denomination: {{account.denomination}}</p>

<p>Buiness Address: {{account.physical_address}}</p>

<p>Business Name: {{account.business_name}}</p>

<p>Latitude, Longitude: {{account.latitude}}, {{account.longitude}}</p>

<p>Dash Back Enabled:</p>
{{x-toggle
  theme="flip"
  value=dashback
  onToggle=(action (mut this.dashback))
}}

<p class="edit-account-link">{{#link-to "accounts.edit" account}}Edit Account{{/link-to}}</p>

