{{outlet}}

<p>Email: {{account.email}}</p>

<p>Buiness Address: {{account.physical_address}}</p>

<p>Business Name: {{account.business_name}}</p>

<p>Latitude, Longitude: {{account.latitude}}, {{account.longitude}}</p>

